<!DOCTYPE html>
<script type="text/javascript" charset="utf-8">
    var portal;
    var panels;
    $(function () {

        panels = [
            {
                id: 'p1',
                title: '系统公告',
                iconCls:"icon-note",
                height: 400,
                collapsible: true,
                href: 'pages/layout/portal/portal1.html'
            },
            {
                id: 'p2',
                title: '系统提示',
                iconCls:"icon-note",
                height: 400,
                collapsible: true,
                href: 'pages/layout/portal/portal2.html'
            },
            {
                id: 'p3',
                title: '闲置portal-3',
                height: 200,
                collapsible: true,
                href: 'pages/layout/portal/portal3.html'
            },
            {
                id: 'p4',
                title: '闲置portal-4',
                height: 200,
                collapsible: true,
                href: 'pages/layout/portal/portal4.html'
            },
            {
                id: 'p5',
                title: '闲置portal-5',
                height: 200,
                collapsible: true,
                href: 'pages/layout/portal/portal5.html'
            } ,
            {
                id: 'p6',
                title: '闲置portal-6',
                height: 200,
                collapsible: true,
                href: 'pages/layout/portal/portal6.html'
            }
        ];

        portal = $('#portal').portal({
            border: false,
            fit: true,
            onStateChange: function () {
                $.cookie('portal-state', getPortalState(), {
                    expires: 7
                });
            }
        });
        var state = $.cookie('portal-state');
        if (!state) {
        	/*冒号代表列，逗号代表行*/
//             state = 'p1,p2,p3:p4,p5,p6';
            state = 'p1:p2';
            
        }
        addPanels(state);
        portal.portal('resize');

    });

    function getPanelOptions(id) {
        for (var i = 0; i < panels.length; i++) {
            if (panels[i].id == id) {
                return panels[i];
            }
        }
        return undefined;
    }
    function getPortalState() {
        var aa = [];
        for (var columnIndex = 0; columnIndex < 2; columnIndex++) {
            var cc = [];
            var panels = portal.portal('getPanels', columnIndex);
            for (var i = 0; i < panels.length; i++) {
                cc.push(panels[i].attr('id'));
            }
            aa.push(cc.join(','));
        }
        return aa.join(':');
    }
    function addPanels(portalState) {
        var columns = portalState.split(':');
        for (var columnIndex = 0; columnIndex < columns.length; columnIndex++) {
            var cc = columns[columnIndex].split(',');
            for (var j = 0; j < cc.length; j++) {
                var options = getPanelOptions(cc[j]);
                if (options) {
                    var p = $('<div/>').attr('id', options.id).appendTo('body');
                    p.panel(options);
                    portal.portal('add', {
                        panel: p,
                        columnIndex: columnIndex
                    });
                }
            }
        }
    }
</script>
<div id="portal" style="position:relative">
    <div></div>
    <div></div>
</div>
