<script type="text/javascript" charset="utf-8">
    $(function () {

    });
</script>
<div id="portalDetail_div">
    <form id="portalDetail_form" method="post" class="form">
        <table id="portalDetail_table" class="table" style="width: 100%;">
            <tbody>
            <tr>
                <th>录入人员：</th>
                <td><input id="enterUser" name="enterUser" type="text" readonly="readonly"></td>
                <th>时间：</th>
                <td><input id="npDate" name="npDate" type="text" readonly="readonly"></td>
            </tr>
            <tr>
                <th>内容：</th>
                <td colspan="3">
                	<textarea id="npContent" name="npContent" rows="5" cols="" style="width: 380px" readonly="readonly"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
